name: Deploy to EC2 instance

on:
   push: 
     branches:
        - main

jobs:
    deploy:
        name: Deploy to EC2
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout the Code
              uses: actions/checkout@v2
            - name: executing remote ssh commands using password
              uses: appleboy/ssh-action@v1.2.0
              with:
                host: 13.62.231.240
                username: ubuntu
                key: ${{secrets.SSH_PRIVATE_KEY}}
                port: 22
                script: |
                    export NVM_DIR="$HOME/.nvm"
                    [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
                    cd ~/CI-CD    
                    git pull origin main
                    npm install
                    npm run build